{% extends "layout.html" %}
{% block body %}
    <div class="ourwords">
    {% for w in our_words %}
        <span class="ours">{{ w }}</span>
    {% endfor %}
    </div>
    <div class="addform">
        <form action="{{ url_for('add_url') }}" method=post class="add">
            <div>Enter url:</div>
            <div><input type=text size=30 name=url><input type=submit value=Scrape></div>
        </form>
    </div>
        {% for d in last_n %}
            {% if d.url != '' %}
                <dl class="add-entry">
                    <dd><a class="button butb" href="{{ url_for('get_by_id', url_id = d.id ) }}" >All</a> - <a class="button butb" href="{{ url_for('get_faves', url_id = d.id ) }}" >Faves</a><span style="margin-left:2em;">{{ d.url }}</span></dd>
                </dl>
            {% endif %}
        {% endfor %}
{% endblock %}
