{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('add_url') }}" method=post class=add>
      <dl>
        <dt>URL:
        <dd><input type=text size=30 name=url>
        <dd><input type=submit value=Scrape>
      </dl>
    </form>
    <ul>
        {% for d in last_n %}
            <li>
                <a href="{{ url_for('get_by_id', url_id = d.id ) }}">{{ d.url }}</a> 
                <a href="{{ url_for('get_faves', url_id = d.id ) }}">Faves</a>

            </li>
        {% endfor %}
    </li>
{% endblock %}
